@import './variables';
@import './_config';


header.container-header {

    .hide__section__if__desktop {
        @include Desktop(none);

        /*  
                                                        MENU FOR THE TABLET
                                                       ___          ___       
                                                        *            *

                                                              _||_

                                                           |_______|
                                                           
        */
        @include tablet {
            @include Desktop(block);

            .section__for__tablet__mobil__modal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);
                overflow-y: scroll;
                z-index: 10;

            
                .tablet__mobil__modal {
                    width: 80%;
                    height: auto;
                    background-color: map-get($map: $main-color, $key: backgroundColor);
                    overflow: hidden;
             
                    .section__first {
                        @include iconAndTest;
                        iframe{
                            margin-top: 22px;
                        }
                            height: 60px;
                            margin-left: 30px;
                            margin-bottom: 0;
                            h2{
                              line-height: 50px;
                              letter-spacing: 5px;
                            }

                            img{
                                margin-top: 10px ;
                            }

                        @include mobil{
                            height: 55px;
                            margin-left: 30px;
                            margin-bottom: 0;
                            h2{
                              line-height: 50px;
                              letter-spacing: 5px;
                            }

                            img{
                                margin-top: 10px ;
                            }
                        }
                    }

                    .bar__separation__hr__for__logoTest{
                        width: 100%;
                        height: 1px;
                        background-color: #ccc;
                        margin-left: 30px;

                    }

                    .bar__separation__hr {
                        width: 100%;
                        height: 1px;
                        background-color: #ccc;
                        margin: 22px 30px;
                        @include mobil{
                            margin: 15px 30px;
                        }
                    }

                    .mobil__tablet__section__ {
                        ul {
                            display: grid;
                            grid-template-rows: repeat(4, 60px);

                            li {
                                margin: 22px 30px;
                                list-style: none;
                                @include mobil{
                                    margin: 15px 30px;
                                }

                                a {
                                    text-decoration: none;
                                    color: black;

                                    &:hover {
                                        color: map-get($map: $main-color, $key: Primary);
                                        transition: color 250ms ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .If__desktop {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        line-height: 60px;
        height: 60px;

        @include tablet{
            line-height: 50px;
        }
        
        @include mobil{
            &{
                display: grid;
                grid-template-columns: 2fr 1fr;
                line-height: 50px;
                width: 100%;
            }
        }

        .section__first {
            @include iconAndTest;

            iframe{
                margin-top: 22px;
            }

            @include tablet{
                height: 55px;
                img{
                    margin-top: 10px;
                }
            }

            @include mobil{
                img{
                    margin-top: 10px;
                }
            }

        }

        .section__second {
            @include ListPropriety(true);
            position: relative;

            .hde__element__with__position__5 {
                display: none;
            }

            @include tablet {
                @include ListPropriety(false);
                height: 60px;
                .hde__element__with__position__5 {
                    display: block;
                    position: absolute;
                    right: 5%;
                    cursor: pointer;

                    @include mobil{
                    right: 10%;
                    margin-right: 15px;
                    }
                    img {
                        width: 35px;
                        height: 35px;
                        margin-top: 12px;
                    }

                }
            }

            @include mobil{
                height: 60px;
               .hde__element__with__position__5{
                height: 60px;
                img {
                    width: 28px;
                    height: 28px;
                    margin-top: 18px;
                    
                   
                }
               }
            }


        }

    }

}