@import './config';
@import './variables';

div.All__containers__for__Signup {
    width: 100%;
    height: 1070px;
    background-color: map-get($map: $main-color, $key: backgroundColor);


    .hide__body__scroll {
        overflow-y: hidden;
    }

    @include mobil {
        width: 100%;
        height: 900px;
    }

    .signup__container {
        span.invalid__data {
            color: red;
            font-size: 12px;
            margin-top: 3px;

            &::before {
                content: "*";
                font-weight: 900;
            }

            @include mobil {
                font-size: 9px;
            }
        }

        .signup__header__ {
            margin: 161px 0 16px 0;
            text-align: center;

            @include mobil {
                margin: 80px 0 16px 0;
            }

            h1 {
                @include header1;
                color: black;

                @include mobil {
                    @include header1Mobil;
                    text-align: center;
                }
            }

            p {
                @include paragraph;
                color: black;
                width: 447px;
                margin: 34px auto 0 auto;

                @include mobil {
                    margin: 15px auto 0 auto;
                    width: 300px;
                }
            }
        }

        .signup__all__input__container {
            width: 447px;
            margin: auto;

            @include mobil {
                width: 100%;
                margin: 0 16px;
            }

            p {
                @include paragraph;
                margin: 22px 0 6px 0;
                color: black;
            }

            .signup__fill__input {
                .add__height__ {
                    height: 70px;
                    margin-top: 22px;
                    label {
                        @include paragraph;
                        color: black;
                    }
                }

                input {
                    width: 100%;
                    @include input;
                    margin-top: 6px;

                    &:focus {
                        border: 1px solid map-get($map: $main-color, $key:Secondary);
                    }

                    @-moz-document url-prefix() {
                        &:focus {
                            border: 1px solid map-get($map: $main-color, $key:Secondary);
                        }

                    }

                    @supports (-ms-ime-align: auto) {
                        &:focus {
                            border: 1px solid map-get($map: $main-color, $key:Secondary);
                        }
                    }

                    @include mobil {
                        width: 335px;
                    }
                }
            }

            span {
                font-size: 12px;
                margin-top: 3px;
                display: block;
            }

            .sign__up__select__position {
                margin-top: 35px;

                p {
                    @include paragraph;
                    color: black;
                    margin-bottom: 20px;
                }

                .content__position {
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 13px;
                    display: block;
                    cursor: pointer;
                    font-size: 16px;
                    user-select: none;

                    p {
                        @include paragraph;
                        color: black;
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .check__position__span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 17px;
                        height: 17px;
                        background-color: #aaa;
                        border-radius: 50%;
                    }

                    //now let do le circle inside the span and we want to hidden them if one of them is not checked;
                    .check__position__span::after {
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        top: 5px;
                        left: 5px;
                        border-radius: 50%;
                        display: none;
                        background-color: map-get($map: $main-color, $key: backgroundColor);
                    }

                    //now we want to check if our input radio is checked, let's change the background color
                    input:checked~.check__position__span {
                        background-color: #2196F3;
                    }

                    //let's now show our circle if it's checked 
                    input:checked~.check__position__span::after {
                        display: block;
                    }
                }
            }

            .signup__upload__photo {
                @include mobil {
                    width: 330px;
                }

                p {
                    @include paragraph;
                    color: black;
                }

                input[type="file"] {
                    display: none;
                }

                .container__upload__photo {
                    width: 447px;
                    display: flex;

                    @include mobil {
                        width: 100%;
                    }

                    input[type="text"] {
                        flex: 80%;
                        @include input;
                        border-left: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        cursor: text;
                        user-select: none;
                    }

                    button.click__get__photo__file {
                        flex: 20%;
                        @include input;
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        cursor: pointer;
                        color: black;
                        font-weight: 550;
                    }
                }
            }
        }

        .__send__all__registration_request {
            display: flex;
            justify-content: center;

            button.Btn__apply__for__job {
                @include button;
                font-weight: map-get($map: $desktop-h1, $key: fontWeight);
                color: map-get($map: $main-color, $key: backgroundColor);
            }
        }
    }
}