@import './variables';


@mixin Desktop($displayValue) {
    display: $displayValue;
    position: relative;
}


@mixin ListPropriety($value) {
    @if $value {
        ul{
            display: flex;
            justify-content: space-around;
    
            li{
                list-style: none;
    
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: map-get($map: $main-color, $key: Primary);
                        transition: color 250ms ease-in-out;
                    }
                }
            }
        }
    } @else {
        ul{
            justify-content: start;
            li{
                display: none;
            }
        }
    }
}

@mixin iconAndTest {
    display: flex;
    margin-left: 30px;
          img{
              width: 32px;
              height: 32px;
              margin-top: 15px;
              margin-right: 10px;
              font-size: map-get($desktop-h1, fontSize);
          }

          h2{
              font-size: map-get($header2, fontSize);
              font-weight: map-get($header2, fontWeight);
              text-transform: uppercase;
              letter-spacing: 5px;
          }
}

@mixin paragraph {
    font-size: map-get($map: $paragraph, $key:fontSize);
    font-weight: map-get($map: $paragraph, $key: fontWeight );
    line-height: map-get($map: $paragraph, $key: lineHeight );
    color: map-get($map: $main-color, $key: backgroundColor2);
}

@mixin  header1 {
    font-weight: map-get($map: $desktop-h1, $key: fontWeight);
    font-size: map-get($map: $desktop-h1, $key:fontSize );
    line-height: map-get($map: $desktop-h1, $key:lineHeight);
    color: map-get($map: $main-color, $key: backgroundColor);
}

@mixin  header1Tablet {
    font-size: map-get($map: $tablet-h1, $key:fontSize);
    font-weight: map-get($map: $tablet-h1, $key: fontWeight);
}

@mixin header1Mobil {
    font-size: map-get($map: $mobil-h1, $key:fontSize);
    font-weight: map-get($map: $mobil-h1, $key: fontWeight);
}



@mixin  header2 {
    font-size: map-get($map: $header2, $key:fontSize);
    font-weight: map-get($map: $header2, $key:fontWeight);
    line-height: map-get($map: $header2, $key: lineHeight );
}

@mixin button {
    margin-top: 39px;
    width: 209px;
    line-height: 37px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 350ms ease-in;
    background-color: map-get($map:$main-color, $key:Primary);
    a{
        text-decoration: none;
        font-weight: map-get($map: $desktop-h1, $key: fontWeight);
        color: map-get($map: $main-color, $key: backgroundColor);
    }

    &:hover {
        background-color: #c73525;
        transition: background 250ms ease-out;
    }
}

@mixin input {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}


/*
   *****************      ************      ***********             *               ***********    ****************
          *              *            *     *          *            *               *                      *
          *              *            *     *          *            *               *                      *
          *              *            *     *          *            *               *                      *
          *              **************     * ****************      *               ***********            *
          *              *            *     *                  *    *               *                      *
          *              *            *     *                  *    *               *                      *
          *              *            *     *                  *    *               *                      *
          *              *            *     * *****************     *************   ************           *
*/



@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

/*

        *                 *    *************
        *  *           *  *    *           *
        *    *       *    *    *           *
        *      *   *      *    *           *
        *        *        *    *           *
        *                 *    *           *
        *                 *    *           *
        *                 *    *************





*/

@mixin  mobil {
    @media (max-width: $mobil) {
        @content;
    }
}


@mixin  desktop {
    @media (max-width: $desktop) {
        @content;
    }
}