$desktop: 1440px;
$tablet: 768px;
$mobil: 550px;
$isTrue: true;
//
$desktop-h1 : (
    'fontWeight': 400,
    'fontSize': 50px,
    'lineHeight': 54px 
);

$tablet-h1: (
    'fontWeight': 400,
    'fontSize': 40px,
    'lineHeight': 44px 
);

$mobil-h1: (
    'fontWeight': 400,
    'fontSize': 30px,
    'lineHeight': 34px 
);


$header2: (
    'fontWeight' : 400,
    'fontSize' : 24px,
    'lineHeight': 29px
);

$paragraph: (
    'fontWeight' : 400,
    'fontSize' : 16px,
    'lineHeight': 24px
);

$main-color : (
    'Primary' : #ef5b4c,
    'Secondary': #007bff,
    'backgroundColor': #fff,
    'backgroundColor2': rgb(249 , 249 , 243),
)

